@import "../abstracts/variables";

.registration {
  input {
    width: 100%;
    font-size: 13px;
  }

}

.account, .registration {
  .add-to-cart2 {
    float: none;
    border-radius: 0;
  }
  .alert {
    border-radius: 0;
  }
}

.order {
  &-info {
    padding: 0 0 0 20px;

    .table-responsive-sm {
      margin-bottom: 50px;
    }

    .btn-back {
      border-bottom: 1px solid #ddd;
      padding: 0 0 10px 40px;

      @media (max-width: 575px) {
        padding-left: 0;
        a:before {
          left: -15px !important;
        }
      }

      a {
        font-size: 16px;
        color: $primary_color_dark;
      }
      a:before {
        background-image: url("https://a.lmcdn.ru/st/d/ru/19.03.04_hotfix2/i/global/account-header__title_back@before.svg");
        width: 24px;
        height: 22px;
      }
      a:before {
        content: '';
        position: absolute;
        top: 0;
        left: 20px;
      }
    }
    &-number {
      margin: 30px 0;
      font-size: 20px;
    }
  }
  &-items {
    .td-img {
      background-color: $primary_gray;
      text-align: center;
      padding: 10px 10px;
    }
    img {
      max-width: 100%;
      max-height: 100px;
    }
  }
}
.account {
  &-menu {
    li {
      a {
        color: #a6a6a6;
        font-weight: 500;
        margin: 0 -15px 0 -15px;
      }
      .active {
        border-right: 2px solid #282828;
        color: #282828;
      }
    }
  }
  &-block {
    border-left: 2px solid $primary_color_table_border;
    padding: 0 15px 0 30px;
  }
}