.error-page {
    padding-top: 50px;
    .notfound {
        font-family: 'Kanit', sans-serif;
         &-404 h1 {
          font-size: 186px;
          font-weight: 200;
          margin: 0px;
          background: linear-gradient(130deg, #ffa34f, #ff6f68);
          color:transparent;
          -webkit-background-clip: text;
          background-clip: text;
          text-transform: uppercase;
        }
        h2 {
              font-size: 33px;
              font-weight: 200;
              text-transform: uppercase;
              margin-top: 0px;
              margin-bottom: 25px;
              letter-spacing: 3px;
        }
        p {
              font-size: 16px;
              font-weight: 200;
              margin-top: 0px;
              margin-bottom: 25px;
        }
        a {
              color: #ff6f68;
              font-weight: 200;
              text-decoration: none;
              border-bottom: 1px dashed #ff6f68;
              border-radius: 2px;
        }
    }
}