@import "../abstracts/variables";

footer {
  margin-top: 50px;
  background: $footer_background;
  color: $footer_color_grey;
  float: left;
  padding: 50px 0 0;
  width: 100%;

  h4 {
    color: $footer_color_white;
	font-size: 18px;
  }

  ul {
    padding: 0;
	margin-bottom: 50px;
  }

  li {
    display: list-item;
	list-style: outside none none;
	margin-bottom: 8px;
  }

  a {
    color: $footer_color_grey;
	text-decoration: none;
  }
}

.copyright {
  border-top: 1px solid rgb(50, 50, 50);
  padding: 30px 0 15px;

  span, a {
    color: $primary_hover;
  }
}