@import "../abstracts/variables";

.navbar, header {
  background-color: $primary_gray !important;
  z-index: 998;
}
.bg {
  background-color: $primary_gray !important;
  &-tr {
    background-color: transparent !important;
  }
}
.fixed-top {
  animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
  0% {
      transform: translateY(-40px);
  }
  100% {
      transform: translateY(0px);
  }
}

.name-category, .contacts-top li a, .login-mobile a {
	color: #9d9d9d !important;
	line-height: 20px;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
	display: block;
	margin: 0;
}

a.menu:after, .dropdown-toggle:after {
	content: none;
}

.contacts-top, .login-mobile {
  a {
    display: block;
    padding: 0 .5rem;
  }

  a:first-child {
    padding-left: 0;
  }

  .log-in {
    border: none;
    background: none;
    font-size: 14px;
    padding: 0;
    color: #9d9d9d;
    margin-right: .5rem;
    font-weight: 100;
  }
}

.login-mobile {
  padding: .5rem 0;
}