@import "../abstracts/variables";

.tittle {
  position: relative;
  margin-top: 50px;

  &::after {
    background: rgb(235, 235, 235) none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 20px;
	width: 100%;
  }

  h2 {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
	display: inline-block;
	margin-bottom: 15px;
	position: relative;
	z-index: 4;
	color: $primary_color_dark !important;
	font-weight: 400 !important;

    @media (max-width: 400px) {
      padding: 0 20px;
    }

    @media (min-width: 401px) {
      padding: 0 100px;
    }
  }
}

.product_cart {
  color: $primary_color_dark;

  .pro {
    &-text{
      a {
        color: $primary_color_dark;
        font-size: 14px;
        display: block;

        &:hover {
          text-decoration: none;
        }
      }

      .discount {
        background: rgba(0, 0, 0, 0) url("http://zcube.in/outstock/outstock/assets/images/sale-strep2.png") no-repeat scroll 0 0;
        padding: 0;
        right: -30px;
        width: 120px;
      }

      .sale {
        padding: 0;
        right: -30px;
        width: 120px;
      }

      .tage {
        text-align: left;
        color: #fff;
        font-size: 14px;
        padding-top: 4px;
        padding-left: 10px;
        height: 30px;
        position: absolute;
        right: 0;
        left: 0;
        top: 15px;
      }

      .price {
        font-size: 16px;

        &-old{
          font-size: 14px;
          text-decoration: line-through;
        }
      }
    }

    &-img {
      margin-bottom: 10px;
      position: relative;
      text-align: center;
      height: 324px;
      overflow: hidden;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;

      img {
        width: 100%;
        height: auto;
        align-content: center;
      }
    }

    &-name {
      margin-bottom: 10px;
    }
  }
}

.search {
  margin: 50px 0;

  h2 {
    margin-bottom: 30px;
  }
}

.breadcrumbs {
  margin-bottom: 20px;

  a {
    color: $primary_color_dark;
    text-decoration: underline;

    &:hover {
      color: $primary_hover;
    }
  }
}

.sorting {
  margin-bottom: 10px;

  .nav-tabs {
    border: none;

    a {
      display: block;
      padding: 10px 15px;
      color: rgb(162, 162, 162);

      &:hover {
        color: $primary_hover;
        text-decoration: none;
      }
    }

    a:first-child {
      padding: 10px 15px 10px 0;
    }

    .active {
      color: $primary_color_dark;
    }
  }

  .dropdown {
    padding: 10px 0;

    &-menu {
      font-family: $primary_font_family !important;
      font-size: 14px;
    }

    &-toggle {
      color: $primary_color_dark;
      text-decoration: none;

      &:hover {
        color: $primary_hover;
      }
    }
  }
}

.account,
.order_desc,
.search,
.content,
.error-page{
  min-height: calc(100vh - 53vh);
}

.price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.main-slider {
  background-color: $primary_gray;
}

.parent {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  .amount {
    color: #6c757c;
    padding-top: 5px;
  }
}

.description-category {
  p, span {
    text-align: justify;
    font-family: "Poppins", sans-serif !important;
    font-size: 14px !important;
  }
}