@import "../abstracts/variables";

.order {
  margin: 50px 0 100px 0;

  @media (min-width: 1024px) {
    padding: 0 20%;
  }
}

.card {
  border: none;

  &-header {
    background-color: white;
	border: none;
	padding: 0.75rem 0;
  }

  .mb-0 {
	color: #a2a2a2 !important;
	text-decoration: none;
  }
}

.form-control {
	border-radius: 0;
}

.btn-link, .btn-link:hover, .btn-link:focus {
	color: #a2a2a2;
	text-decoration: none;
	border: none;
	padding: 6px 0;
}

.shipping-outer {
  float: left;
  width: 100%;
  margin-bottom: 0;

  input {
    margin-bottom: 20px;
	padding: 5px;
	width: 100%;
  }

  .label {
    float: left;
	margin-bottom: 10px;
	width: 100%;
	color: #606060;
  }

  .label-radio {
    float: left;
	font-weight: 100;
	margin-right: 50px;
  }

  .radio {
    float: left;
	margin-right: 10px;
	width: auto !important;
  }

  .custom-control:first-child {
    margin-bottom: 10px;
  }
}

.data-table {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  th {
	line-height: 1.4;
    text-transform: uppercase;
    white-space: nowrap;
	border: 1px solid rgb(223, 223, 223);
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 500;
	text-align: left;
  }
}

.odd h3 {
    font-size: 18px;
	margin-top: 10px;
}

.thnx {
  margin: 50px 0;
  min-height: calc(100vh - 466px);

  h1 {
    margin-bottom: 50px;
  }

  .add-to-cart2 {
    float: none;
  }
}

.send input {
	width: 100%;
}

.form-group {
	text-align: left;
}
