@import "../abstracts/variables";

.product-detail {
  margin-top: 40px;

  &-short-desc-bg {
    background-color: #f5f5f5;
    margin-top: -40px;
    padding: 40px 0;

    .breadcrumbs {
      margin-bottom: 50px !important;
    }
  }

  .numbers-row {
    float: left;
    margin-right: 10px;
    margin-top: 11px;
  }
}

.price-detail {
  border-bottom: 1px solid #ddd;
  color: rgb(31, 31, 31);
  float: left;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  width: 100%;

  span {
    color: rgb(162, 162, 162);
	margin-left: 10px;
	font-size: 16px;
	text-decoration: line-through;
  }
}

.change-amount {
  button {
    background: $primary_gray !important;

    &:hover {
      background: $primary_color_dark !important;
    }
  }
}

.categories, .tags {
  float: left;
  width: 100%;
  margin-top: 20px;

  span:last-child {
    color: #a2a2a2;
  }
}

.pro-d-img {
  text-align: center;
  background-color: $primary_gray;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 500px;
  }
}

.numbers-row {
  border: 2px solid #ebebeb;
  padding: 3px 10px;

  @media (max-width: 640px) {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  input {
    border: 0 none;
	font-size: 14px;
	font-weight: 500;
	background: none;
	text-align: center;
	width: 30px;

    &::-webkit-inner-spin-button{
      -webkit-appearance: none;
      margin: 0;
    }
  }

  span {
    cursor: pointer;
    font-weight: 500;
  }
}

.star {
  float: left;
  width: 100%;

  ul {
    padding: 0;
  }

  li {
    display: inline;
  }

  a {
    border-left: 1px solid #e9e9e9;
    display: inline;
    margin-left: 10px;
    padding-left: 10px;
    text-align: center;
    color: $primary_color_dark;
    font-size: 14px;
  }

  .red-color {
    color: $primary_hover
  }
}

.tab-content {
    padding: 0 15px 0 30px;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tabs {
  margin-top: 50px;
 &-name {
  border-right: 2px solid $primary_color_table_border;

  .active {
    border-right: 2px solid $primary_color_dark;
    color: $primary_color_dark;
  }

  a {
    color: #a6a6a6;
    font-weight: 500;
    margin: 0 -15px 0 -15px;
  }
}
}

.recommends {
  .tittle {
    margin-bottom: 40px;
  }
}

.add-review {
  padding-bottom: 40px !important;

  @media (min-width: 768px) {
    padding: 0 20%;
  }

  input, textarea, .add-to-cart2 {
    width: 100%;

    &::placeholder {
      color: $primary_font_family;
      font-size: 13px;
    }
  }
}

.star-rating{
  font-size: 0;
  padding-top: calc(.375rem + 1px);

  &__wrap{
    display: inline-block;
    font-size: 1rem;

    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }

  &__ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: $primary_color_dark;

    &:last-child{
      padding-left: 0;
    }

    &:hover:before,
    &:hover ~ .star-rating__ico:before {
      content: "\f005";
      color: $primary_hover;
    }
  }

  &__input{
    display: none;

    &:checked ~ .star-rating__ico:before {
      content: "\f005";
      color: $primary_hover;
    }
  }
}

.reviews-all {
  width: 100%;
  &-one, &-common {
    margin-bottom: 20px;
    border-bottom: 1px solid $primary_color_line;
    padding-bottom: 20px !important;
    margin-left: 0 !important;

    @media (min-width: 768px) {
      padding: 0 10%;
    }

    &-short-desc, &-name {
      font-weight: bold;
    }
    .col-md-4 {
      padding-left: 0 !important;
    }
  }
}

.stars {
  font: normal normal normal 16px/1.8 FontAwesome;
  color: $primary_hover;
  letter-spacing: .2em;

  &:after {
    color: #1f2629
  }

  .stars0_5:before {
    content: "\f005"
  }
}

.stars.stars0_5:after {
    content: "\f005\f005\f005\f005"
}

.stars.stars1_5:before {
    content: "\f005\f005"
}

.stars.stars1_5:after {
    content: "\f005\f005\f005"
}

.stars.stars2_5:before {
    content: "\f005\f005\f005"
}

.stars.stars2_5:after {
    content: "\f005\f005"
}

.stars.stars3_5:before {
    content: "\f005\f005\f005\f005"
}

.stars.stars3_5:after {
    content: "\f005"
}

.stars.stars4_5:before {
    content: "\f005\f005\f005\f005\f005"
}

.stars.stars0:after {
    content: "\f005 \f005 \f005 \f005 \f005"
}
.stars.stars1:before {
    content: "\f005"
}
.stars.stars1:after {
    content: "\f005\f005\f005\f005"
}
.stars.stars2:before {
    content: "\f005\f005"
}
.stars.stars2:after {
    content: "\f005\f005\f005"
}
.stars.stars3:before {
    content: "\f005\f005\f005"
}
.stars.stars3:after {
    content: "\f005\f005"
}
.stars.stars4:before {
    content: "\f005\f005\f005\f005"
}
.stars.stars4:after {
    content: "\f005"
}
.stars.stars5:before {
    content: "\f005\f005\f005\f005\f005"
}