@import "../abstracts/variables";

.inner-header{
  background: rgba(0, 0, 0, 0) url("http://zcube.in/outstock/outstock/assets/images/inside-banner.jpg") no-repeat scroll 0 0 / cover;
  color: $primary_color_dark !important;
  padding-bottom: 150px;
  padding-top: 195px;
  text-align: center;

  h1 h2 {
	font-size: 48px;
	margin-bottom: 30px;
  }
}

.shopping-cart {
  padding-top: 50px;
  padding-bottom: 100px;

  .order-btn {
    a {
      float: right;
    }
  }

  .td-img {
    background-color: $primary_gray;
  }

  table {
    width: 100%;
	margin-top: 50px;
	border: 1px solid $primary_color_table_border;
	margin-bottom: 50px;
	text-align: center;

    a {
      color: $primary_color_dark;
	  text-decoration: none;
    }
  }

  td {
    padding: 15px;
	border: 1px solid $primary_color_table_border;

    input {
      color: #000;
	  font-weight: 500;
    }


  }

  th {
    border-right: 1px solid $primary_color_table_border;
	color: rgb(72, 72, 72);
	font-weight: 500;
	padding: 15px;
	text-transform: uppercase;
    text-align: left;
  }

  tr {
    border-bottom: 1px solid #ebebeb;
  }

  img {
    max-width: 100%;
	max-height: 100px;
  }

  .red {
    color: $primary_hover
  }

  .button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 2px solid;
	color: rgb(31, 31, 31);
	letter-spacing: 1.2px;
	margin-left: 20px;
	font-weight: 500;
	padding: 10px;

    &:hover {
      background: $primary_color_dark;
      color: #fff;
      text-shadow: 0 0 0;
      text-decoration: none;
    }
  }
}