.contact {

  &-form {
    padding-top: 30px;
    color: #606060;

    input, textarea {
      border: 1px solid #ddd;
      border-radius: 0;
      font-size: 13px;
      padding: 10px;
      width: 100%;
    }

    .add-to-cart2 {
      width: 100% !important;
    }
  }

  &-title {
    color: #606060;
	margin-bottom: 30px;
  }

  &-info {
    padding: 30px 0 100px;

    strong {
      display: inline-table;
      font-size: 15px;
      font-weight: 500;
    }

    ul {
      list-style: outside none none;
      padding: 0;
    }

    li {
      float: left;
      margin-bottom: 50px;
      width: 100%;
    }

    .img-icon {
      float: left;
	  margin-right: 25px;
    }

    p {
      letter-spacing: 0.04em;
      margin: 0 0 15px;
      padding-right: 15px;
    }
  }
}