{% extends "products/_base.html" %}

{% block title %}
  Ваша корзина товаров
{% endblock %}

{% block content %}
    <div class="inner-header">
        <h1>Корзина товаров</h1>
        <div class="breadcrumbs text-center">
            <a href="{% url 'products:main_page' %}">Главная</a>
            <span>  /  </span>
            <span>Корзина</span>
        </div>
    </div>
    <section class="shopping-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Ваши товары</h2>
                    {% if cart|length > 0 %}
                        <div class="table-responsive-sm">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-center">Продукт</th>
                                        <th class="text-center">Цена</th>
                                        <th class="text-center">Количество</th>
                                        <th class="text-center">Сумма</th>
                                        <th class="text-center">Удалить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                    {% with product=item.product %}
                                    <tr class="tr_item">
                                        <td class="td-img">
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                                        </td>
                                        <td>
                                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </td>
                                        <td class="num">{{ item.price }} руб.</td>
                                        <td>
                                            <form action="{% url "cart:cart_add" product.id %}" method="post" class="add" data-id="{{ product.id }}">
                                                <div class="numbers-row">
                                                    {% csrf_token %}
                                                    <span class="change dec">-</span>
                                                    {{ item.update_quantity_form.quantity }}
                                                    <span class="change inc">+</span>
                                                </div>
                                                {{ item.update_quantity_form.update }}
                                            </form>
                                        </td>
                                        <td class="num sum_for_item"><span id="sum_for_item_{{ product.id }}">{{ item.total_price }} руб.</span></td>
                                        <td>
                                            <a href="{% url "cart:cart_remove" product.id %}" id="delete-item2" data-id="{{ product.id }}">
                                                <span class="red">
                                                    <i class="fa fa-close" style="font-size:24px"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endwith %}
                                    {% endfor %}
                                    <tr class="total">
                                        <td class="total_num">Всего</td>
                                        <td class="total_num" colspan="4"></td>
                                        <td class="total_num num">{{ cart.get_total_price }} руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h4 class="text-center">В корзине нет товаров</h4>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                     <a href="{% url "products:main_page"%}" class="add-to-cart2">Продолжить покупки</a>
                </div>
                {% if cart|length > 0 %}
                <div class="col-sm-6 col-md-6 order-btn">
                    <a href="{% url "orders:order_create" %}" class="add-to-cart2">Оформить заказ</a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('.change').on('click', function() {
                var par_form = $(this).closest('form');
                var id = par_form.data('id');
                var quantity = parseInt(par_form.find('#id_quantity').val());
                if ($(this).hasClass('dec')){
                     quantity -= 1;
                } else if ($(this).hasClass('inc')){
                    quantity += 1;
                }
                var url = par_form.attr('action');
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        quantity: quantity,
                        update: true,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.success) {
                            $('#total-in-cart').text(data.amount);
                            $('#basket').load(' .basket-items');
                            $('.total').load(' .total_num');
                            par_form.closest('.tr_item').find('.sum_for_item').load(' #sum_for_item_' + id);
                        }
                    }
                });
            });
        });
        $(document).on('click', '#delete-item2', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var url = $(this).attr('href');
            $.ajax({
                type: 'GET',
                url: url,
                data: {
                    product_id: id
                },
                success: function (data) {
                    if (data.success) {
                        document.location.reload(true);
                    }
                }
            });
        });
    </script>
{% endblock %}