$primary_font_family: "Poppins", sans-serif;

$primary_gray: #f5f5f5;
$primary_hover: #bd8348;
$primary_color_dark: #282828;
$primary_color_table_border: rgb(235, 235, 235);
$primary_color_line: rgb(235, 235, 235);
$primary_placeholder: #a0a1a1;

$footer_background: rgb(31, 31, 31) none repeat scroll 0 0;
$footer_color_grey: rgb(108, 108, 108);
$footer_color_white: rgb(255, 255, 255);
