@import "../abstracts/variables";

.basket-items{
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 365px;
  position: absolute;
  right: 15px;
  left: -250px;
  top: 26px;
  z-index: 999;
  padding-bottom: 10px;
  border-radius: 0;
}

.empty-basket {
  width: 100%;
  text-align: center;
  color: #9d9d9d !important;
  line-height: 20px;
}

.cart {
  &-btn {
    border: 2px solid #282828;
    display: table !important;
    float: left;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 18px;
    padding: 13px 0 !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase;
    width: 90%;
    color: #282828;

    &:hover {
      background: #282828 !important;
      color: #fff;
    }
  }

  &-content {
    display: table;
    margin: auto;
    padding: 20px 0;
    width: 90%;

    img {
      max-width: 100%;
	  max-height: 70px;
    }

    .pro {
      &-img {
        background-color: $primary_gray;
      }

      &-text {
        &-amount span, a {
          color: #717171;
          display: block;
          padding: 0px;
          font-size: 14px;
        }

        a {
         &:hover {
            background: none;
            color: $primary_hover;
            display: block;
            padding: 0px;
            font-size: 14px;
          }
        }

        strong {
          color: $primary_hover;
        }
      }
    }
  }
}

.total-in-basket {
	border-top: 1px solid rgb(245, 245, 245);
    margin: auto;
    padding: 20px 0;
    width: 90%;
    display: table;
}

#modal-added-to-cart {
  text-align: center;
  span {
    font-size: 25px;
  }
}
