@import "../abstracts/variables";

.name-category,
.pro-text a,
footer a,
.product_cart,
table a,
.contacts-top li a,
.log-in,
.btn-back a{
  &:hover {
    color: $primary_hover !important;
	text-decoration: none;
	cursor: pointer;
  }
}

.add-to-cart {
  input {
    display: none;
  }

  button {
    width: 100%;
  }
}

.add-to-cart2, .more-detail {
  display: block;
  border: 2px solid $primary_color_dark;
  font-size: 12px;
  font-weight: 600;
  margin: 11px auto auto;
  padding: 6px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $primary_color_dark;
  background-color: #fff;

  @media (max-width: 640px) {
    width: 100%;
  }

  @media (min-width: 640px) {
    width: 50%;
    float: left;
  }
  &:hover {
    border: 2px solid $primary_color_dark;
	background: $primary_color_dark !important;
	color: #fff;
	text-decoration: none;
  }
}

.inc, .dec {
  z-index: 1000;
}

.back-to-cart {
  margin-top: 50px;

  a {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 6px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $primary_color_dark;
    background-color: #fff;
    border: 1px solid #ffffff;

    &:hover {
      border: 1px solid $primary_gray;
      text-decoration: underline;
    }
  }
}
