@import "../abstracts/variables";

.carousel {
  &-inner {
    margin-top: -150px;
  }
  &-item {
    height: 800px !important;
    background-repeat: no-repeat;
    background-position: top;
  }
}

.caption {
  color: #282828;
  display: block;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 300px !important;
  position: relative;
  text-transform: uppercase;
  width: 1172px;
  z-index: 999;

  h2 {
    font-size: 40px;
	font-family: $primary_font_family;
	margin-top: 0;
	float: left;
	width: 50%;
	text-transform: capitalize;
  }

  p {
    font-family: $primary_font_family;
	font-size: 14px;
	font-weight: 300;
	margin: 20px 0 60px;
	text-transform: capitalize;
	width: 43%;
  }

  span {
    font-size: 26px;
	text-transform: initial;
  }

  .more-detail {
    background-color: $primary_gray;
    max-width: 200px;
    float: left;

    span {
      font-size: 15px !important;
    }
  }
}

.caption.brunello {
	padding-top: 150px !important;
	height: 700px;
	width: 100%;
}
.caption.brunello h2 {
	font-size: 45px;
	font-weight: 100;
	margin-top: 20px;
	text-transform: capitalize;
}
.caption.brunello p {
	width: 80%;
}