@import "../abstracts/variables";

.search {
  &-popup {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 0 0;
    margin-top: 200px;
    text-transform: uppercase;
  }

  &-bg {
    background: #f5f5f5;
	opacity: 1;

    a i {
      color: #A98B69;
	  font-size: 18px;
    }
  }

  &-outer {
    border-bottom: 1px solid #282828;
	float: left;
	margin-top: 100px;
	padding-bottom: 16px;
	width: 100%;

    input {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      color: #000;
      font-size: 14px;
      width: 100%;
      outline: none;
    }

    button {
      background-color: inherit;
      border: none;
    }
  }
}

.close2 {
  color: #A98B69;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    text-decoration: none;
  }
}
