{% extends 'products/_base.html' %}

{% block title %}
    Страница не найдена
{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <section class="error-page">
        <div class="notfound text-center">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Oops! Страница не найдена</h2>
            <p>Возможно, неправильно указан путь в адресной строке или страница была удалена.</p>
            <p>Возврат на <a href="{% url 'products:main_page' %}">главную страницу</a></p>
        </div>
    </section>
{% endblock %}

