{% extends 'products/_base.html' %}

{% block title %}
    Ошибка на стороне сервера
{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <section class="error-page">
        <div class="notfound text-center">
            <div class="notfound-404">
                <h1>500</h1>
            </div>
            <h2>Oops! Внутрення ошибка сервера</h2>
            <p>На сервере произошла непредвиденная ошибка. Пожалуйста, подождите; она вскоре будет исправлена</p>
            <p>Попробуйте вернуться <a href="#">главную страницу</a></p>
        </div>
    </section>
{% endblock %}

