.product-list {
    padding: 40px 0;
    position: relative;
    margin-bottom: 30px;
}

.recommends-main {
    padding: 0 60px;
    position: relative;
}

.product-list .img {
    display: block;
    height: 212px;
    margin-bottom: 15px;
}

/*.product-list .item {*/
    /*text-align: center;*/
/*}*/

.product-list .item .item-wrap {
    margin: 10px;
    padding: 0 0 20px 0;
    border: 1px solid transparent;
}

/*.product-list .item:hover .item-wrap {*/
    /*-webkit-box-shadow: 0 0 20px 3px #f6f6f6;*/
    /*box-shadow: 0 0 20px 3px #f6f6f6;*/
    /*border-color: #f6f6f6;*/
/*}*/

.product-list .img:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 210px;
}

.product-list .img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    display: inline-block;
}

.product-list .title {
    font-weight: 500;
    color:#6a3b6b;
    font-size: 15px;
    line-height: 24px;
    max-width: 80%;
    display: inline-block;
}
.product-list .title:hover {
      color: #2d99f1;
  }
.product-list .price {
    font-size: 24px;
    margin: 20px 0 30px;
}

.product-list .price del {
    color: #b3b3b3;
    white-space: nowrap;
}

.product-list .price ins {
    color: #f27151;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.product-list .to_cart {
    width: 140px;
}

.product-list .to_cart i {
    width: 18px;
    height: 17px;
    display: inline-block;
    background: url(../images/icons/cart.png) -18px 0 no-repeat;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
}

/*.product-list .to_cart:hover {*/
    /*background: #563856;*/
    /*color: #fff;*/
/*}*/

/*.product-list .to_cart:hover i {*/
    /*background-position: -18px 0;*/
/*}*/

.product-list .colors {
    font-size: 0;
    text-align: center;
    margin-top: 30px;
}

.product-list .colors li {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 5px;
}

.product-list .colors li.black {
    background-color: #000;
}

.product-list .colors li.green {
    background-color: #a3b849;
}

.product-list .colors li.red {
    background-color: #fe8d86;
}

.product-list .colors li.blue {
    background-color: #68c2fa;
}

.owl-prev, .owl-next {
    color: transparent;
    width: 20px;
    height: 36px;
    background: url('https://biggeek.ru/design/biggeek/images/icons/arrow-lr.png') 0 0;
    position: absolute;
    top: 116px;
}

#banners .owl-prev, .owl-next {
    top: 116px;
}

.owl-prev {
    left: 0px
}

.owl-next {
    background: url('https://biggeek.ru/design/biggeek/images/icons/arrow-lr.png') 100% 0;
    right: 0px;
}

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
    z-index: 0;
}
.owl-carousel .owl-animated-out {
    z-index: 1;
}
.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.owl-height {
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
}
.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-controls .owl-dot, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}
.owl-carousel.owl-hidden {
    opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
    display: none;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
.noUi-target, .noUi-target *, .slick-slider {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
.owl-carousel.owl-rtl .owl-item {
    float: right;
}
.no-js .owl-carousel {
    display: block;
}
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}
.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale .1s ease;
    -moz-transition: scale .1s ease;
    -ms-transition: scale .1s ease;
    -o-transition: scale .1s ease;
    transition: scale .1s ease;
}
.owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
    display: none;
}
.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
}