body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-bot {
  margin-bottom: 30px;
}

.required:after {
  content: " *";
}

.text-underline {
  text-decoration: underline;
}

.basket-items {
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 365px;
  position: absolute;
  right: 15px;
  left: -250px;
  top: 26px;
  z-index: 999;
  padding-bottom: 10px;
  border-radius: 0;
}

.empty-basket {
  width: 100%;
  text-align: center;
  color: #9d9d9d !important;
  line-height: 20px;
}

.cart-btn {
  border: 2px solid #282828;
  display: table !important;
  float: left;
  font-size: 12px;
  font-weight: 600;
  margin: 5px 18px;
  padding: 13px 0 !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase;
  width: 90%;
  color: #282828;
}

.cart-btn:hover {
  background: #282828 !important;
  color: #fff;
}

.cart-content {
  display: table;
  margin: auto;
  padding: 20px 0;
  width: 90%;
}

.cart-content img {
  max-width: 100%;
  max-height: 70px;
}

.cart-content .pro-img {
  background-color: #f5f5f5;
}

.cart-content .pro-text-amount span, .cart-content .pro-text a {
  color: #717171;
  display: block;
  padding: 0px;
  font-size: 14px;
}

.cart-content .pro-text a:hover {
  background: none;
  color: #bd8348;
  display: block;
  padding: 0px;
  font-size: 14px;
}

.cart-content .pro-text strong {
  color: #bd8348;
}

.total-in-basket {
  border-top: 1px solid whitesmoke;
  margin: auto;
  padding: 20px 0;
  width: 90%;
  display: table;
}

#modal-added-to-cart {
  text-align: center;
}

#modal-added-to-cart span {
  font-size: 25px;
}

.name-category:hover,
.pro-text a:hover,
footer a:hover,
.product_cart:hover,
table a:hover,
.contacts-top li a:hover,
.log-in:hover,
.btn-back a:hover {
  color: #bd8348 !important;
  text-decoration: none;
  cursor: pointer;
}

.add-to-cart input {
  display: none;
}

.add-to-cart button {
  width: 100%;
}

.add-to-cart2, .more-detail {
  display: block;
  border: 2px solid #282828;
  font-size: 12px;
  font-weight: 600;
  margin: 11px auto auto;
  padding: 6px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #282828;
  background-color: #fff;
}

@media (max-width: 640px) {
  .add-to-cart2, .more-detail {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .add-to-cart2, .more-detail {
    width: 50%;
    float: left;
  }
}

.add-to-cart2:hover, .more-detail:hover {
  border: 2px solid #282828;
  background: #282828 !important;
  color: #fff;
  text-decoration: none;
}

.inc, .dec {
  z-index: 1000;
}

.back-to-cart {
  margin-top: 50px;
}

.back-to-cart a {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 6px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #282828;
  background-color: #fff;
  border: 1px solid #ffffff;
}

.back-to-cart a:hover {
  border: 1px solid #f5f5f5;
  text-decoration: underline;
}

.carousel-inner {
  margin-top: -150px;
}

.carousel-item {
  height: 800px !important;
  background-repeat: no-repeat;
  background-position: top;
}

.caption {
  color: #282828;
  display: block;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 300px !important;
  position: relative;
  text-transform: uppercase;
  width: 1172px;
  z-index: 999;
}

.caption h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  float: left;
  width: 50%;
  text-transform: capitalize;
}

.caption p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 20px 0 60px;
  text-transform: capitalize;
  width: 43%;
}

.caption span {
  font-size: 26px;
  text-transform: initial;
}

.caption .more-detail {
  background-color: #f5f5f5;
  max-width: 200px;
  float: left;
}

.caption .more-detail span {
  font-size: 15px !important;
}

.caption.brunello {
  padding-top: 150px !important;
  height: 700px;
  width: 100%;
}

.caption.brunello h2 {
  font-size: 45px;
  font-weight: 100;
  margin-top: 20px;
  text-transform: capitalize;
}

.caption.brunello p {
  width: 80%;
}

.search-popup {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  box-shadow: 0 0 0;
  margin-top: 200px;
  text-transform: uppercase;
}

.search-bg {
  background: #f5f5f5;
  opacity: 1;
}

.search-bg a i {
  color: #A98B69;
  font-size: 18px;
}

.search-outer {
  border-bottom: 1px solid #282828;
  float: left;
  margin-top: 100px;
  padding-bottom: 16px;
  width: 100%;
}

.search-outer input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #000;
  font-size: 14px;
  width: 100%;
  outline: none;
}

.search-outer button {
  background-color: inherit;
  border: none;
}

.close2 {
  color: #A98B69;
  cursor: pointer;
  font-size: 14px;
}

.close2:hover {
  text-decoration: none;
}

.navbar, header {
  background-color: #f5f5f5 !important;
  z-index: 998;
}

.bg {
  background-color: #f5f5f5 !important;
}

.bg-tr {
  background-color: transparent !important;
}

.fixed-top {
  animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.name-category, .contacts-top li a, .login-mobile a {
  color: #9d9d9d !important;
  line-height: 20px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
  margin: 0;
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}

.contacts-top a, .login-mobile a {
  display: block;
  padding: 0 .5rem;
}

.contacts-top a:first-child, .login-mobile a:first-child {
  padding-left: 0;
}

.contacts-top .log-in, .login-mobile .log-in {
  border: none;
  background: none;
  font-size: 14px;
  padding: 0;
  color: #9d9d9d;
  margin-right: .5rem;
  font-weight: 100;
}

.login-mobile {
  padding: .5rem 0;
}

footer {
  margin-top: 50px;
  background: #1f1f1f none repeat scroll 0 0;
  color: #6c6c6c;
  float: left;
  padding: 50px 0 0;
  width: 100%;
}

footer h4 {
  color: white;
  font-size: 18px;
}

footer ul {
  padding: 0;
  margin-bottom: 50px;
}

footer li {
  display: list-item;
  list-style: outside none none;
  margin-bottom: 8px;
}

footer a {
  color: #6c6c6c;
  text-decoration: none;
}

.copyright {
  border-top: 1px solid #323232;
  padding: 30px 0 15px;
}

.copyright span, .copyright a {
  color: #bd8348;
}

.tittle {
  position: relative;
  margin-top: 50px;
}

.tittle::after {
  background: #ebebeb none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 100%;
}

.tittle h2 {
  background: white none repeat scroll 0 0;
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  z-index: 4;
  color: #282828 !important;
  font-weight: 400 !important;
}

@media (max-width: 400px) {
  .tittle h2 {
    padding: 0 20px;
  }
}

@media (min-width: 401px) {
  .tittle h2 {
    padding: 0 100px;
  }
}

.product_cart {
  color: #282828;
}

.product_cart .pro-text a {
  color: #282828;
  font-size: 14px;
  display: block;
}

.product_cart .pro-text a:hover {
  text-decoration: none;
}

.product_cart .pro-text .discount {
  background: rgba(0, 0, 0, 0) url("http://zcube.in/outstock/outstock/assets/images/sale-strep2.png") no-repeat scroll 0 0;
  padding: 0;
  right: -30px;
  width: 120px;
}

.product_cart .pro-text .sale {
  padding: 0;
  right: -30px;
  width: 120px;
}

.product_cart .pro-text .tage {
  text-align: left;
  color: #fff;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 10px;
  height: 30px;
  position: absolute;
  right: 0;
  left: 0;
  top: 15px;
}

.product_cart .pro-text .price {
  font-size: 16px;
}

.product_cart .pro-text .price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.product_cart .pro-img {
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  height: 324px;
  overflow: hidden;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.product_cart .pro-img img {
  width: 100%;
  height: auto;
  align-content: center;
}

.product_cart .pro-name {
  margin-bottom: 10px;
}

.search {
  margin: 50px 0;
}

.search h2 {
  margin-bottom: 30px;
}

.breadcrumbs {
  margin-bottom: 20px;
}

.breadcrumbs a {
  color: #282828;
  text-decoration: underline;
}

.breadcrumbs a:hover {
  color: #bd8348;
}

.sorting {
  margin-bottom: 10px;
}

.sorting .nav-tabs {
  border: none;
}

.sorting .nav-tabs a {
  display: block;
  padding: 10px 15px;
  color: #a2a2a2;
}

.sorting .nav-tabs a:hover {
  color: #bd8348;
  text-decoration: none;
}

.sorting .nav-tabs a:first-child {
  padding: 10px 15px 10px 0;
}

.sorting .nav-tabs .active {
  color: #282828;
}

.sorting .dropdown {
  padding: 10px 0;
}

.sorting .dropdown-menu {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
}

.sorting .dropdown-toggle {
  color: #282828;
  text-decoration: none;
}

.sorting .dropdown-toggle:hover {
  color: #bd8348;
}

.account,
.order_desc,
.search,
.content,
.error-page {
  min-height: calc(100vh - 53vh);
}

.price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.main-slider {
  background-color: #f5f5f5;
}

.parent {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation .amount {
  color: #6c757c;
  padding-top: 5px;
}

.description-category p, .description-category span {
  text-align: justify;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px !important;
}

.product-detail {
  margin-top: 40px;
}

.product-detail-short-desc-bg {
  background-color: #f5f5f5;
  margin-top: -40px;
  padding: 40px 0;
}

.product-detail-short-desc-bg .breadcrumbs {
  margin-bottom: 50px !important;
}

.product-detail .numbers-row {
  float: left;
  margin-right: 10px;
  margin-top: 11px;
}

.price-detail {
  border-bottom: 1px solid #ddd;
  color: #1f1f1f;
  float: left;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  width: 100%;
}

.price-detail span {
  color: #a2a2a2;
  margin-left: 10px;
  font-size: 16px;
  text-decoration: line-through;
}

.change-amount button {
  background: #f5f5f5 !important;
}

.change-amount button:hover {
  background: #282828 !important;
}

.categories, .tags {
  float: left;
  width: 100%;
  margin-top: 20px;
}

.categories span:last-child, .tags span:last-child {
  color: #a2a2a2;
}

.pro-d-img {
  text-align: center;
  background-color: #f5f5f5;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-d-img img {
  max-height: 500px;
}

.numbers-row {
  border: 2px solid #ebebeb;
  padding: 3px 10px;
}

@media (max-width: 640px) {
  .numbers-row {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.numbers-row input {
  border: 0 none;
  font-size: 14px;
  font-weight: 500;
  background: none;
  text-align: center;
  width: 30px;
}

.numbers-row input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numbers-row span {
  cursor: pointer;
  font-weight: 500;
}

.star {
  float: left;
  width: 100%;
}

.star ul {
  padding: 0;
}

.star li {
  display: inline;
}

.star a {
  border-left: 1px solid #e9e9e9;
  display: inline;
  margin-left: 10px;
  padding-left: 10px;
  text-align: center;
  color: #282828;
  font-size: 14px;
}

.star .red-color {
  color: #bd8348;
}

.tab-content {
  padding: 0 15px 0 30px;
  border-top: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tabs {
  margin-top: 50px;
}

.tabs-name {
  border-right: 2px solid #ebebeb;
}

.tabs-name .active {
  border-right: 2px solid #282828;
  color: #282828;
}

.tabs-name a {
  color: #a6a6a6;
  font-weight: 500;
  margin: 0 -15px 0 -15px;
}

.recommends .tittle {
  margin-bottom: 40px;
}

.add-review {
  padding-bottom: 40px !important;
}

@media (min-width: 768px) {
  .add-review {
    padding: 0 20%;
  }
}

.add-review input, .add-review textarea, .add-review .add-to-cart2 {
  width: 100%;
}

.add-review input::placeholder, .add-review textarea::placeholder, .add-review .add-to-cart2::placeholder {
  color: "Poppins", sans-serif;
  font-size: 13px;
}

.star-rating {
  font-size: 0;
  padding-top: calc(.375rem + 1px);
}

.star-rating__wrap {
  display: inline-block;
  font-size: 1rem;
}

.star-rating__wrap:after {
  content: "";
  display: table;
  clear: both;
}

.star-rating__ico {
  float: right;
  padding-left: 2px;
  cursor: pointer;
  color: #282828;
}

.star-rating__ico:last-child {
  padding-left: 0;
}

.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before {
  content: "\f005";
  color: #bd8348;
}

.star-rating__input {
  display: none;
}

.star-rating__input:checked ~ .star-rating__ico:before {
  content: "\f005";
  color: #bd8348;
}

.reviews-all {
  width: 100%;
}

.reviews-all-one, .reviews-all-common {
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px !important;
  margin-left: 0 !important;
}

@media (min-width: 768px) {
  .reviews-all-one, .reviews-all-common {
    padding: 0 10%;
  }
}

.reviews-all-one-short-desc, .reviews-all-one-name, .reviews-all-common-short-desc, .reviews-all-common-name {
  font-weight: bold;
}

.reviews-all-one .col-md-4, .reviews-all-common .col-md-4 {
  padding-left: 0 !important;
}

.stars {
  font: normal normal normal 16px/1.8 FontAwesome;
  color: #bd8348;
  letter-spacing: .2em;
}

.stars:after {
  color: #1f2629;
}

.stars .stars0_5:before {
  content: "\f005";
}

.stars.stars0_5:after {
  content: "\f005\f005\f005\f005";
}

.stars.stars1_5:before {
  content: "\f005\f005";
}

.stars.stars1_5:after {
  content: "\f005\f005\f005";
}

.stars.stars2_5:before {
  content: "\f005\f005\f005";
}

.stars.stars2_5:after {
  content: "\f005\f005";
}

.stars.stars3_5:before {
  content: "\f005\f005\f005\f005";
}

.stars.stars3_5:after {
  content: "\f005";
}

.stars.stars4_5:before {
  content: "\f005\f005\f005\f005\f005";
}

.stars.stars0:after {
  content: "\f005 \f005 \f005 \f005 \f005";
}

.stars.stars1:before {
  content: "\f005";
}

.stars.stars1:after {
  content: "\f005\f005\f005\f005";
}

.stars.stars2:before {
  content: "\f005\f005";
}

.stars.stars2:after {
  content: "\f005\f005\f005";
}

.stars.stars3:before {
  content: "\f005\f005\f005";
}

.stars.stars3:after {
  content: "\f005\f005";
}

.stars.stars4:before {
  content: "\f005\f005\f005\f005";
}

.stars.stars4:after {
  content: "\f005";
}

.stars.stars5:before {
  content: "\f005\f005\f005\f005\f005";
}

.inner-header {
  background: rgba(0, 0, 0, 0) url("http://zcube.in/outstock/outstock/assets/images/inside-banner.jpg") no-repeat scroll 0 0/cover;
  color: #282828 !important;
  padding-bottom: 150px;
  padding-top: 195px;
  text-align: center;
}

.inner-header h1 h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

.shopping-cart {
  padding-top: 50px;
  padding-bottom: 100px;
}

.shopping-cart .order-btn a {
  float: right;
}

.shopping-cart .td-img {
  background-color: #f5f5f5;
}

.shopping-cart table {
  width: 100%;
  margin-top: 50px;
  border: 1px solid #ebebeb;
  margin-bottom: 50px;
  text-align: center;
}

.shopping-cart table a {
  color: #282828;
  text-decoration: none;
}

.shopping-cart td {
  padding: 15px;
  border: 1px solid #ebebeb;
}

.shopping-cart td input {
  color: #000;
  font-weight: 500;
}

.shopping-cart th {
  border-right: 1px solid #ebebeb;
  color: #484848;
  font-weight: 500;
  padding: 15px;
  text-transform: uppercase;
  text-align: left;
}

.shopping-cart tr {
  border-bottom: 1px solid #ebebeb;
}

.shopping-cart img {
  max-width: 100%;
  max-height: 100px;
}

.shopping-cart .red {
  color: #bd8348;
}

.shopping-cart .button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid;
  color: #1f1f1f;
  letter-spacing: 1.2px;
  margin-left: 20px;
  font-weight: 500;
  padding: 10px;
}

.shopping-cart .button:hover {
  background: #282828;
  color: #fff;
  text-shadow: 0 0 0;
  text-decoration: none;
}

.order {
  margin: 50px 0 100px 0;
}

@media (min-width: 1024px) {
  .order {
    padding: 0 20%;
  }
}

.card {
  border: none;
}

.card-header {
  background-color: white;
  border: none;
  padding: 0.75rem 0;
}

.card .mb-0 {
  color: #a2a2a2 !important;
  text-decoration: none;
}

.form-control {
  border-radius: 0;
}

.btn-link, .btn-link:hover, .btn-link:focus {
  color: #a2a2a2;
  text-decoration: none;
  border: none;
  padding: 6px 0;
}

.shipping-outer {
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.shipping-outer input {
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
}

.shipping-outer .label {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  color: #606060;
}

.shipping-outer .label-radio {
  float: left;
  font-weight: 100;
  margin-right: 50px;
}

.shipping-outer .radio {
  float: left;
  margin-right: 10px;
  width: auto !important;
}

.shipping-outer .custom-control:first-child {
  margin-bottom: 10px;
}

.data-table {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.data-table th {
  line-height: 1.4;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid #dfdfdf;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.odd h3 {
  font-size: 18px;
  margin-top: 10px;
}

.thnx {
  margin: 50px 0;
  min-height: calc(100vh - 466px);
}

.thnx h1 {
  margin-bottom: 50px;
}

.thnx .add-to-cart2 {
  float: none;
}

.send input {
  width: 100%;
}

.form-group {
  text-align: left;
}

.contact-form {
  padding-top: 30px;
  color: #606060;
}

.contact-form input, .contact-form textarea {
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 13px;
  padding: 10px;
  width: 100%;
}

.contact-form .add-to-cart2 {
  width: 100% !important;
}

.contact-title {
  color: #606060;
  margin-bottom: 30px;
}

.contact-info {
  padding: 30px 0 100px;
}

.contact-info strong {
  display: inline-table;
  font-size: 15px;
  font-weight: 500;
}

.contact-info ul {
  list-style: outside none none;
  padding: 0;
}

.contact-info li {
  float: left;
  margin-bottom: 50px;
  width: 100%;
}

.contact-info .img-icon {
  float: left;
  margin-right: 25px;
}

.contact-info p {
  letter-spacing: 0.04em;
  margin: 0 0 15px;
  padding-right: 15px;
}

.registration input {
  width: 100%;
  font-size: 13px;
}

.account .add-to-cart2, .registration .add-to-cart2 {
  float: none;
  border-radius: 0;
}

.account .alert, .registration .alert {
  border-radius: 0;
}

.order-info {
  padding: 0 0 0 20px;
}

.order-info .table-responsive-sm {
  margin-bottom: 50px;
}

.order-info .btn-back {
  border-bottom: 1px solid #ddd;
  padding: 0 0 10px 40px;
}

@media (max-width: 575px) {
  .order-info .btn-back {
    padding-left: 0;
  }
  .order-info .btn-back a:before {
    left: -15px !important;
  }
}

.order-info .btn-back a {
  font-size: 16px;
  color: #282828;
}

.order-info .btn-back a:before {
  background-image: url("https://a.lmcdn.ru/st/d/ru/19.03.04_hotfix2/i/global/account-header__title_back@before.svg");
  width: 24px;
  height: 22px;
}

.order-info .btn-back a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
}

.order-info-number {
  margin: 30px 0;
  font-size: 20px;
}

.order-items .td-img {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px 10px;
}

.order-items img {
  max-width: 100%;
  max-height: 100px;
}

.account-menu li a {
  color: #a6a6a6;
  font-weight: 500;
  margin: 0 -15px 0 -15px;
}

.account-menu li .active {
  border-right: 2px solid #282828;
  color: #282828;
}

.account-block {
  border-left: 2px solid #ebebeb;
  padding: 0 15px 0 30px;
}

.error-page {
  padding-top: 50px;
}

.error-page .notfound {
  font-family: 'Kanit', sans-serif;
}

.error-page .notfound-404 h1 {
  font-size: 186px;
  font-weight: 200;
  margin: 0px;
  background: linear-gradient(130deg, #ffa34f, #ff6f68);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}

.error-page .notfound h2 {
  font-size: 33px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.error-page .notfound p {
  font-size: 16px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 25px;
}

.error-page .notfound a {
  color: #ff6f68;
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px dashed #ff6f68;
  border-radius: 2px;
}
