{% extends 'products/_base.html' %}

{% block title %}
    Healthful Food: Результаты поиска
{% endblock %}

{% block content %}
    <section class="search">
        <div class="container">
            {% if founded_products.count > 0 %}
                <h2>Найденные товары: {{ founded_products.count }}</h2>
            {% else %}
                <h2>Ничего не найдено</h2>
                <div>
                    Извините, по вашему запросу ничего не найдено. Попробуйте другие ключевые слова.
                </div>
            {% endif %}
            <div class="row">
                {% for product in founded_products %}
                <div class="col-md-3">
                    <a href="{{ product.get_absolute_url }}" class="product_cart">
                        <div class="pro-text">
                            <div class="pro-img">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" />
    {#                                <div class="sale tage" style="background: rgba(0, 0, 0, 0) url({% static 'products/media/icons/new_icon.png' %}) no-repeat scroll 0 0;">#}
    {#                                    <span class="discount-text">NEW</span>#}
    {#                                </div>#}
                            </div>
                            <div class="pro-name">
                                <span>{{ product.name }}</span>
                            </div>
                            <div>
                                <span>{{ product.price }}</span>
                            </div>
                        </div>
                    </a>
                    <div class="add-to-cart text-right">
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {% csrf_token %}
                            {{ cart_product_form.quantity }}
                            <button type="submit" class="add-to-cart2">В корзину</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
