{% extends 'products/_base.html' %}

{% load static %}

{% block description %}
Healthful Food - интернет-магазин здорового питания, является результатом многолетнего увлечения здоровым питанием.
{% endblock %}

{% block keywords %}
о нас, интернет магазин здорового питания, интернет магазин продуктов
{% endblock %}

{% block title %}
Healthful food | О нас
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="tittle text-center">
                <h2>О нас</h2>
            </div>
            <div class="breadcrumbs text-center">
                <a href="{% url 'products:main_page' %}">Главная</a>
                <span>  /  </span>
                <span>О нас</span>
            </div>
            <div class="content">
                {{ content.content|safe }}
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div>
                        <img src="{% static 'static_pages/icons/delivery.png' %}" alt="delivery" class="img-responsive" height="50">
                    </div>
                    <strong>ДОСТАВИМ ВОВРЕМЯ</strong>
                    <div>
                        Время, место и стоимость доставки определяете вы!
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img src="{% static 'static_pages/icons/guarante.png' %}" alt="guarantee" class="img-responsive" height="50">
                    </div>
                    <strong>100% КАЧЕСТВО ПРОДУКТОВ</strong>
                    <div>Вся продукция сертифицирована и подвергается жесткому контролю.</div>
                </div>
                <div class="col-md-4">
                    <div>
                        <img src="{% static 'static_pages/icons/ok.png' %}" alt="ok" class="img-responsive" height="50">
                    </div>
                    <strong>СУПЕР-ГАРАНТИЯ</strong>
                    <div>
                        Только у нас возврат в течение 15 дней! По первому требованию мы вернем деньги!
                    </div>
                </div>
            </div>
            <hr>
            <h4 class="text-center">Мы всегда открыты для диалога, а безупречное качество сервиса — наш главный приоритет.</h4>
        </div>
    </section>
{% endblock %}