{% extends 'products/_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block description %}
Наш адрес МО, г.о. Балашиха мкр. Железнодорожный, ул. Пролетарская 7, email - info@healthfulfood.ru
{% endblock %}

{% block keywords %}
интернет-магазин Healthful food контакты телефон адрес
{% endblock %}

{% block title %}
Healthful food | Контакты
{% endblock %}

{% block content %}
    <section class="contacts">
        <div class="container">
            <div class="tittle text-center">
                <h2>Контакты</h2>
            </div>
            <div class="breadcrumbs text-center">
                <a href="{% url 'products:main_page' %}">Главная</a>
                <span>  /  </span>
                <span>Контакты</span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
						<div class="contact-title">
							<h2>Контактная информация</h2>
						</div>
                        <div class="col-md-12 contact-info">
                            <ul>
                                <li>
                                    <div class="img-icon">
                                        <img src="{% static 'static_pages/icons/contact-place.jpg' %}" alt="phone-icon">
                                    </div>
                                    <strong>Наш адрес</strong>
                                    <br/> {{ contacts.address }}
                                </li>
                                <li>
                                    <div class="img-icon">
                                        <img src="{% static 'static_pages/icons/contact-phone.jpg' %}" alt="phone-icon">
                                    </div>
                                    <strong>Телефон</strong>
                                    <br/> {{ contacts.phone }}
                                </li>
                                <li>
                                    <div class="img-icon">
                                        <img src="{% static 'static_pages/icons/contact-mail.jpg' %}" alt="phone-icon">
                                    </div>
                                    <strong>Email</strong>
                                    <br/> {{ contacts.email }}
                                </li>
                            </ul>
                            <p>{{ contacts.content|safe }}</p>
        {#						<div class="f-sicon2">#}
        {#							<ul>#}
        {#								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>#}
        {#								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
        {#								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>#}
        {#								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>#}
        {#								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>#}
        {#								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>#}
        {#							</ul>#}
        {#						</div>#}
                        </div>
					</div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
						<div class="contact-title">
							<h2>Задать вопрос</h2>
						</div>
                        <div class="col-md-12 contact-info">
                            {% if form is not Null %}
                            <form method="post" action="{% url 'static_pages:add_question_view' %}" class="order-form">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="id_name" class="required">Ваше имя</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="id_phone_number" class="required">Ваш e-mail</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_comment" class="required">Ваш вопрос</label>
                                    {{ form.question }}
                                </div>
                                <button type="submit" class="add-to-cart2">Отправить</button>
                            </form>
                            {% elif m is not null %}
                                <p>
                                    Спасибо за ваш вопрос!<br>
                                    В ближайшее время администратор рассмотрит ваш вопрос и ответит на вашу почту.
                                </p>
                            {% endif %}
                        </div>
					</div>
                </div>
            </div>
        </div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A909647492f3c3a32580a143a9beb670e0a44c5aa58e3f39aed4641bbbf8f76eb&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </section>
{% endblock %}