{% extends 'products/_base.html' %}

{% load static %}

{% block description %}
Вы можете заказать продукты здорового питания с доставкой на дом в Балашихе и Железнодорожном в интернет-магазине Healthful Food.
{% endblock %}

{% block keywords %}
продукты питания, заказать продукты здорового питания, доставка в Балашихе и Железнодорожном
{% endblock %}

{% block title %}
Healthful food | Доставка и оплата
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="tittle text-center">
                <h2>Доставка и оплата</h2>
            </div>
            <div class="breadcrumbs text-center">
                <a href="{% url 'products:main_page' %}">Главная</a>
                <span>  /  </span>
                <span>Доставка и оплата</span>
            </div>
            <div class="content">
                {{ content.content|safe }}
            </div>
        </div>
    </section>
{% endblock %}