{% extends 'products/_base.html' %}

{% load static %}

{% block title %}
Healthful food | Политика обработки персональных данных
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="tittle text-center">
                <h2>Политика обработки персональных данных</h2>
            </div>
            <div class="breadcrumbs text-center">
                <a href="{% url 'products:main_page' %}">Главная</a>
                <span>  /  </span>
                <span>Политика обработки персональных данных</span>
            </div>
            <div class="content">
                {{ content.content|safe }}
            </div>
        </div>
    </section>
{% endblock %}