{% extends 'products/_base.html' %}

{% block title %}
  Спасибо за заказ
{% endblock %}

{% block content %}
    <div class="container">
        <div class="thnx">
            <div class="text-center">
                <h1 >Спасибо, ваш заказ оформлен</h1>
            </div>
            <p>Письмо-подтверждение отправлено на ваш e-mail: {{ order.email }}</p>
            <p><strong>Номер вашего заказа: </strong>{{ order.id }}</p>
            <p><strong>Дата создания: </strong>{{ order.created }}</p>
            <div class="text-center" style="width: 100%">
                <a href="{% url 'products:main_page' %}" class="add-to-cart2">Продолжить покупки</a>
            </div>
        </div>
    </div>
{% endblock %}