{% extends 'products/_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block script %}
    <script src="{% static 'products/scripts/maskedinput.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="inner-header">
    <h1>Оформление заказа</h1>
    <div class="breadcrumbs text-center">
        <a href="{% url 'products:main_page' %}">Главная</a>
        <span>  /  </span>
         <a href="{% url 'cart:cart_detail' %}">Корзина</a>
        <span>  /  </span>
        <span>Оформление заказа</span>
    </div>
</div>
<section class="order">
    <div class="container">
        <form class="order-form" action="." method="post">
            {% csrf_token %}
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1. Контактные данные
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="id_name" class="col-sm-2 col-form-label required">Имя</label>
                                <div class="col-sm-10">
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_name" class="col-sm-2 col-form-label">Фамилия</label>
                                <div class="col-sm-10">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_phone_number" class="col-sm-2 col-form-label required">Телефон</label>
                                <div class="col-sm-10">
                                    {{ form.phone_number }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_mail" class="col-sm-2 col-form-label required">Email</label>
                                <div class="col-sm-10">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_address" class="col-sm-2 col-form-label required">Адрес</label>
                                <div class="col-sm-10">
                                    {{ form.address }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_comment" class="col-sm-2 col-form-label">Комментарий</label>
                                <div class="col-sm-10">
                                    {{ form.comment }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed required" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. Способ оплаты
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="shipping-outer">
                                {% for radio in form.pay_method %}
                                    <div class="custom-control custom-radio">
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}" class="custom-control-label">{{ radio.choice_label }}</label>
                                     </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                2. Ваш заказ
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body shopping-cart table-responsive-sm">
                            <table class="data-table linearize-table checkout-review-table">
                                <thead>
                                    <tr class="first last">
                                        <th rowspan="1">Продукт</th>
                                        <th colspan="1" class="text-center">Цена</th>
                                        <th rowspan="1" class="text-center">Количество</th>
                                        <th colspan="1" class="text-center">Сумма</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                    {% with product=item.product %}
                                    <tr class="first last odd">
                                        <td class="text-left">
                                            <h3 class="product-name">{{ product.name }}</h3>
                                        </td>
                                        <td class="text-center" data-rwd-label="Price">
                                            <span class="cart-price">
                                         <span class="price">{{ item.price }} &#8381</span>
                                            </span>
                                        </td>
                                        <td class="text-center" data-rwd-label="Qty">{{ item.quantity }}</td>
                                        <td class="a-right last" data-rwd-label="Subtotal">
                                            <span class="cart-price">
                                         <span class="price">{{ item.total_price }} &#8381</span>
                                            </span>
                                        </td>
                                    </tr>
                                    {% endwith %}
                                    {% endfor %}
                                    <tr class="first">
                                        <td style="" class="text-left" colspan="3">
                                            Всего
                                        </td>
                                        <td style="" class="a-right last">
                                            <span class="price">{{ cart.get_total_price }} &#8381</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="send">
                <input type="submit" value="Оформить" class="add-to-cart2">
            </div>
            <div class="back-to-cart">
                <a href="{% url 'cart:cart_detail' %}">Назад в корзину</a>
            </div>
        </form>
    </div>
    <script>
        $("#id_phone_number").mask("+7(999)999-99-99",{autoclear: false, placeholder:" "});
    </script>
</section>
{% endblock %}