<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <span class="preheader">Спасибо за ваш заказ!</span>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <p>Ваш заказ №{{ order.id }} от {{ order.created }}</p>
      </tr>
        <tr>Имя: {{ order.first_name }}</tr>
        <tr>E-mail: {{ order.email }}</tr>
        <tr>Телефон: {{ order.phone_number }}</tr>
        <tr>Сумма заказа: {{ order.total_price }}</tr>
        <br>
        <tr>В ближайшее время с вами свяжется наш сотрудник для подтверждения заказа</tr>
        <br><br><br>
        <tr>Healthful Food</tr>
    </table>
  </body>
</html>