@import "../abstracts/variables";

body {
	font-family: $primary_font_family;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.margin-bot {
	margin-bottom: 30px;
}

.required:after {
  content: " *";
}

.text-underline {
	text-decoration: underline;
}