{% extends 'account/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Личный кабинет
{% endblock %}

{% block script %}
    <script src="{% static 'products/scripts/maskedinput.min.js' %}"></script>
{% endblock %}

{% block content_account %}
    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <form method="post" action="{% url 'account:update_profile' %}">
            {% crispy user_form %}
            {% crispy profile_form %}
            <button type="submit" class="add-to-cart2">Сохранить</button>
        </form>
    </div>
    <script>
        $("#id_phone_number").mask("+7(999)999-99-99",{autoclear: false, placeholder:""});
    </script>
{% endblock %}
