{% extends 'products/_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block script %}
    <script src="{% static 'products/scripts/maskedinput.min.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="account">
        <div class="container">
            <div class="tittle text-center">
                <h2>Личный кабинет</h2>
            </div>
            <div class="breadcrumbs text-center">
                <a href="{% url 'products:main_page' %}">Главная</a>
                <span>  /  </span>
                <span>Личный кабинет</span>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <ul class="account-menu nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" id="data" href="{% url 'account:account_data' %}">Данные</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="orders" href="{% url 'account:account_orders' %}">Все заказы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="active-orders" href="{% url 'account:account_orders_active' %}">Активные заказы</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-md-9 account-block">
                    {% block content_account %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
    <script>
        $("#id_phone_number").mask("+7(999)999-99-99",{autoclear: false, placeholder:""});

        $(document).ready(function () {
            var pathname = window.location.pathname;
            var sURLVariables = pathname.split('/');

            function change(a, b, c) {
                $(a).addClass('active');
                $(b).removeClass('active');
                $(c).removeClass('active');
            }

            switch (sURLVariables[2]){
                case 'data':
                    change('#data', '#orders', '#active-orders');
                    break;
                case 'orders':
                    change('#orders', '#data', '#active-orders');
                    break;
                case 'active_orders':
                    change('#active-orders', '#data', '#orders');
                    break;
                default:
                    $('#orders').addClass('active');
            }
        });
    </script>
{% endblock %}