{% extends 'account/base.html' %}

{% load static %}

{% block title %}
    Заказ №{{ order.id }}
{% endblock %}

{% block content_account %}
    <div class="col-sm-9 col-md-9 order-info">
        <div class="btn-back">
            <a href="{{request.META.HTTP_REFERER}}"><span>Все заказы</span></a>
        </div>
        <div class="order-info-number">
            <span>Заказ №{{ order.id }} от {{ order.created|date:"j.m.Y" }}</span>
        </div>
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Имя</td>
                        <td>{{ order.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Фамилия</td>
                        <td>{{ order.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Номер телефона</td>
                        <td>{{ order.phone_number }}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{ order.email }}</td>
                    </tr>
                    <tr>
                        <td>Адресс доставки</td>
                        <td>{{ order.address }}</td>
                    </tr>
                    <tr>
                        <td>Комментарий</td>
                        <td>{{ order.comment }}</td>
                    </tr>
                    <tr>
                        <td>Способ оплата</td>
                        <td>{{ order.pay_method }}</td>
                    </tr>
                    <tr>
                        <td>Сумма</td>
                        <td>{{ order.get_total_cost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive-sm">
            <table class="table order-items">
                <thead>
                    <tr>
                        <th scope="col">{{ order_items|length }} товар(ов)</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                    <tr>
                        <td class="td-img"><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}"></td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.get_cost }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3">Всего</td>
                        <td>{{ order_items|length }}</td>
                        <td>{{ order.get_total_cost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
