{% extends 'account/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Личный кабинет
{% endblock %}

{% block script %}
    <script src="{% static 'products/scripts/maskedinput.min.js' %}"></script>
{% endblock %}

{% block content_account %}
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Номер заказа</th>
                    <th scope="col">Дата заказа</th>
                    <th scope="col">Статус заказа</th>
                    <th scope="col">Сумма заказа</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'account:order_desc_view' order.id %}">{{ order.id }}</a></td>
                    <td>{{ order.created }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.get_total_cost }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $("#id_phone_number").mask("+7(999)999-99-99",{autoclear: false, placeholder:""});
    </script>
{% endblock %}
