{% extends 'products/_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Регистрация
{% endblock %}

{% block script %}
    <script src="{% static 'products/scripts/maskedinput.min.js' %}"></script>
{% endblock %}

{% block content%}
    <section class="registration">
        <div class="container">
            <div class="tittle text-center">
                <h2>Регистрация</h2>
            </div>
            <div class="breadcrumbs text-center">
                <a href="{% url 'products:main_page' %}">Главная</a>
                <span>  /  </span>
                <span>Регистрация</span>
            </div>

            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <form method="post">
                        {% crispy user_form %}
                        {% crispy profile_form %}
                        <button type="submit" class="add-to-cart2">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $("#id_phone_number").mask("+7(999)999-99-99",{autoclear: false, placeholder:" "});

            $('#submit-id-submit').parent().addClass('offset-lg-2');
        });
    </script>
{% endblock %}