{% extends "products/_base.html" %}

{% block title %}Оплата отклонена{% endblock %}

{% block content %}
  <div class="container text-center">
      <h1>Оплата отклонена</h1>
      <p>Возникли проблемы с оплатой!</p>
  <div class="text-center" style="width: 100%">
            <a href="{% url 'products:main_page' %}" class="add-to-cart2">На главную</a>
        </div>
  </div>
{% endblock %}