{% extends "products/_base.html" %}

{% block title %}Успешная оплата{% endblock %}

{% block content %}
  <div class="container text-center">
      <h1>Успешная оплата</h1>
      <p>Благодарим вас за покупку!</p>
        <div class="text-center" style="width: 100%">
            <a href="{% url 'products:main_page' %}" class="add-to-cart2">Продолжить покупки</a>
        </div>
  </div>
{% endblock %}