{% extends "products/_base.html" %}

{% block title %}Оплата PayPal{% endblock %}

{% block content %}
    <div class="container">
        <div class="thnx">
            <div class="text-center">
                <h1>Оплата PayPal</h1>
                {{ form.render }}
            </div>
        </div>
    </div>

{% endblock %}