{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}{% endblock %}
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
	<title>{% block title %}{% endblock %}</title>
    <link rel="canonical" href="{% block canonical %}{% endblock %}"/>
    <link rel="shortcut icon" href="{% static 'products/media/icons/fav.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/slider.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(53743681, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/53743681" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
	<header>
        {% include 'products/navbar.html' %}
	</header>
    <!-- Modal login form-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Авторизация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger d-none error">
                    <span></span>
                </div>
                <form action="{% url 'account:login_view' %}" method="post" id="login_form">
                <div class="modal-body">
                        {% crispy login_form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="add-to-cart2" data-dismiss="modal">Закрыть</button>
                    <button type="submit" id="login" class="add-to-cart2">Войти</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal added to cart-->
    <div class="modal fade" id="modal-added-to-cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{% static 'products/media/icons/done.png' %}" alt="корзина" width="50px">
                    <br>
                    <span>Товар добавлен в корзину!</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="add-to-cart2" data-dismiss="modal">Продолжить покупки</button>
                    <a href="{% url 'cart:cart_detail' %}" class="add-to-cart2">Посмотреть корзину</a>
                </div>
            </div>
        </div>
    </div>
	<main>
		{% block content %}
        {% endblock %}
	</main>
	
	<footer>
        {% include 'products/footer.html' %}
    </footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'products/scripts/script.js' %}"></script>
    <script>
        $(document).on('submit', '#add-to-cart', function (e) {
            e.preventDefault();
            var quantity = $(this).find('#id_quantity').val();
            var id = $(this).data('id');
            var url = $(this).attr('action');
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    quantity: quantity,
                    update: false,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    if (data.success) {
                        $('#total-in-cart').text(data.amount);
                        $('#basket').load(' .basket-items');
                        $('#modal-added-to-cart').modal('show')
                    }
                }
            });
        });
    </script>
</body>

</html>