{% extends 'products/_base.html' %}

{% load static %}

{% block description %}
{{ category.description_seo }}
{% endblock %}

{% block keywords %}
{{ category.keywords }}
{% endblock %}

{% block title %}
    {{ category.title }}
{% endblock %}

{% block canonical %}
http://healthfulfood.ru/category/{{ category.slug }}
{% endblock %}

{% block content %}
    <section class="category">
        <div class="container">
{#            <form action="" method="get">#}
{#                {{ filter.form.as_p }}#}
{#                <input type="submit" />#}
{#            </form>#}
{#            {% for obj in filter.qs %}#}
{#                {{ obj.name }} - {{ obj.price }}<br />#}
{#            {% endfor %}#}
            <div class="tittle text-center">
                <h2>{{ category.name }}</h2>
            </div>
            <div class="breadcrumbs text-center">
                <a href="{% url 'products:main_page' %}">Главная</a>
                <span>  /  </span>
                <span>{{ category.name }}</span>
            </div>
            <div class="row sorting">
                <div class="col-sm-12 col-md-6">
                    <ul class="nav nav-tabs">
                        <li><a href="?type=all" id="all">Все товары</a></li>
                        <li><a href="?type=new" id="new">Новые товары</a></li>
                        <li><a href="?type=sale" id="sale">Товары со скидкой</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="pull-right">
                        <div class="dropdown show">
                            <a class="dropdown-toggle" href="?" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Сортировать по
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="?sort=id" id="id">умолчанию</a>
                                <a class="dropdown-item" href="?sort=name" id="name">названию</a>
                                <a class="dropdown-item" href="?sort=price" id="price">возрастанию цены</a>
                                <a class="dropdown-item" href="?sort=-price" id="-price">уменьшению цены</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-md-3 parent">
                    <a href="{{ product.get_absolute_url }}" class="product_cart">
                        <div class="pro-text">
                            <div class="pro-img">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                                {% if product.is_new == True %}
                                <div class="sale tage" style="background: rgba(0, 0, 0, 0) url({% static 'products/media/icons/new_icon.png' %}) no-repeat scroll 0 0;">
                                    <span class="discount-text">NEW</span>
                                </div>
                                {% elif product.discount > 0 %}
                                    <div class="discount tage">
                                        <span class="discount-text">-{{ product.get_discount }}%</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="pro-name">
                                <span>{{ product.name }}</span>
                            </div>
                            <div>
                                {% if product.discount > 0 %}
                                <span class="price">{{ product.discount }} &#8381</span>
                                <span class="price-old">{{ product.price }} &#8381</span>
                                {% else %}
                                <span class="price">{{ product.price }} &#8381</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    <div class="add-to-cart text-right">
                        <form action="{% url "cart:cart_add" product.id %}" method="post" data-id="{{ product.id }}" id="add-to-cart">
                            {% csrf_token %}
                            {{ cart_product_form.quantity }}
                            <button type="submit" class="add-to-cart2">В корзину</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="container navigation">
                <nav aria-label="Page navigation example">
                    <div class="row">
                        <div class="col-lg-10 amount text-right">Всего товаров: {{ products|length }}</div>
                        <div class="col-lg-2">
                            <ul class="pagination justify-content-end">
                            {% if products.has_previous %}
                                <li class="page-item"><a href="?page={{ products.previous_page_number }}" class="page-link" tabindex="-1">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                            {% endif %}
                            {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                    <li class="page-item disabled"><a href="#" class="page-link">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                                <li class="page-item"><a href="?page={{ products.next_page_number }}" class="page-link">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                            {% endif %}
                        </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <hr>
            <div class="container description-category">
                {{ category.text | safe}}
            </div>
        </div>
    </section>
    <script>
    $(document).ready(function () {
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };

        var sort = getUrlParameter('sort');
        var type = getUrlParameter('type');
        var text = $("#"+sort).addClass("disabled").text();
        if (type == null){
            $("#all").addClass("active");
        }
        $("#"+type).addClass("active");
        $("#dropdownMenuLink").append("<span class=\"text-underline\">"+text+"</span>");
    });
    </script>
{% endblock %}
