{% load static %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 text-center">
            <div>
                <img src="{% static 'products/media/icons/new_logo.png' %}" height="50" alt="logo">
            </div>
            <ul>
                <li>
                    <i class="material-icons" style="font-size: 13px">place</i>
                    <strong>Наш адрес:</strong>
                    <span>{{ contacts.address }}</span>
                </li>
                <li>
                    <i class="material-icons" style="font-size: 13px">phone</i>
                    <strong>Телефон</strong>
                    <span>{{ contacts.phone }}</span>
                </li>
                <li>
                    <i class="material-icons" style="font-size: 13px">mail_outline</i>
                    <strong>Email:</strong>
                    <span>{{ contacts.email }}</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center">
            <h4>Информация</h4>
            <ul>
                <li><a href="{% url 'static_pages:about_page' %}">О нас</a></li>
                <li><a href="{% url 'static_pages:delivery_page' %}">Доставка и оплата</a></li>
                <li><a href="{% url 'static_pages:contacts_view' %}">Контакты</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center">
            <a href='https://play.google.com/store/apps/details?id=com.healthfulfood.maxim.int_shop&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img alt='Доступно в Google Play' style="width: 50%" src='https://play.google.com/intl/en_us/badges/images/generic/ru_badge_web_generic.png'/></a>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container text-center">
        2019 <a href="#">Healthful Food</a>
        Интернет-магазин здорового питания
    </div>
    </div>
</div>
