{% extends "products/_base.html" %}

{% load static %}

{% block description %}
Интернет-магазин Healthful Food осуществляет продажу продуктов здорового питания. Бесплатная доставка продуктов на дом по Железнодорожному на сумму от 1000 рублей
{% endblock %}

{% block keywords %}
здоровое питание доставка продуктов железнодорожный интернет магазин купить продуктовый на дом
{% endblock %}

{% block title %}
Healthful Food
{% endblock %}

{% block canonical %}
http://healthfulfood.ru/
{% endblock %}

{% block content %}
    <!-- slider -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for i in sliders %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                {% if forloop.first %}
                class="active"
                {% endif %}
            >
            </li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for slider in sliders %}
            <div class="carousel-item
                {% if forloop.first %}
                active
                {% endif %}
                " style="background-image: url({{ slider.image.url }});">
                <div class="caption container">
                    <h2 class="animated wow zoomIn" data-wow-duration=".5s" data-wow-delay=".2s">{{ slider.title }}</h2>
                    <p class="animated wow fadeIn" data-wow-duration=".2s" data-wow-delay=".1s">{{ slider.body }}</p>
                    <a data-scroll class="more-detail" href="{{ slider.link }}"><span>Подробнее</span></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.slider -->
    <!-- new arrivals -->
    <section class="new-arrivals">
        <div class="container">
            <div class="tittle text-center">
                <h2>Новинки</h2>
            </div>
            <div class="text-right breadcrumbs">
                <a href="{% url 'products:selection_new' %}">Смотреть все</a>
            </div>
            <div class="row">
                {% for product in products_new %}
                <div class="col-md-3 margin-bot parent">
                    <a href="{{ product.get_absolute_url }}" class="product_cart">
                        <div class="pro-text">
                            <div class="pro-img">
                                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}" />
                                <div class="sale tage" style="background: rgba(0, 0, 0, 0) url({% static 'products/media/icons/new_icon.png' %}) no-repeat scroll 0 0;">
                                    <span class="discount-text">NEW</span>
                                </div>
                            </div>
                            <div class="pro-name">
                                <span>{{ product.name }}</span>
                            </div>
                            <div>
                                <span class="price">{{ product.price }} &#8381</span>
                            </div>
                        </div>
                    </a>
                    <div class="add-to-cart">
                        <form action="{% url "cart:cart_add" product.id %}" method="post" id="add-to-cart" data-id="{{ product.id }}">
                            {% csrf_token %}
                            {{ cart_product_form.quantity }}
                            <button type="submit" class="add-to-cart2">В корзину</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- /.new arrivals -->
    <!-- sales -->
    <section class="new-arrivals">
        <div class="container">
            <div class="tittle text-center">
                <h2>Скидки</h2>
            </div>
            <div class="text-right breadcrumbs">
                <a href="{% url 'products:selection_sale' %}">Смотреть все</a>
            </div>
            <div class="row">
                {% for product in products_sale %}
                <div class="col-md-3 margin-bot parent">
                    <a href="{{ product.get_absolute_url }}" class="product_cart">
                        <div class="pro-text">
                            <div class="pro-img">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                                <div class="discount tage">
                                    <span class="discount-text">-{{ product.get_discount }}%</span>
                                </div>
                            </div>
                            <div class="pro-name">
                                <span>{{ product.name }}</span>
                            </div>
                            <div>
                                <span class="price">{{ product.discount }} &#8381</span>
                                <span class="price-old">{{ product.price }} &#8381</span>
                            </div>
                        </div>
                    </a>
                    <div class="add-to-cart">
                        <form action="{% url "cart:cart_add" product.id %}" method="post" id="add-to-cart" data-id="{{ product.id }}">
                            {% csrf_token %}
                            {{ cart_product_form.quantity }}
                            <button type="submit" class="add-to-cart2">В корзину</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('.navbar').addClass('bg-tr');
        })
    </script>
    <!-- /.sales -->
{% endblock %}