{#{% extends 'products/_base.html' %}#}

{% load static %}
{% load crispy_forms_tags %}

{#{% block navbar %}#}
<!-- contacts in top -->
<nav class="navbar navbar-expand-lg contacts-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="{% url 'static_pages:about_page' %}">О нас</a></li>
                <li class="nav-item"><a href="{% url 'static_pages:delivery_page' %}">Доставка и оплата</a></li>
                <li class="nav-item"><a href="{% url 'static_pages:contacts_view' %}">Контакты</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <button type="button" class="log-in" data-toggle="modal" data-target="#exampleModalCenter">Войти</button>
                    </li>
                    <li class="nav-item"><a href="{% url 'account:registration_view' %}">Зарегистрироваться</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'account:account_data' %}">Личный кабинет</a></li>
                    <li class="nav-item"><a href="{% url 'account:logout_view' %}">Выйти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- /contacts in top -->
<!-- menu -->
<nav class="navbar navbar-expand-lg" id="nav-fix-top">
    <div class="container">
        <a href="{% url 'products:main_page' %}" class="navbar-brand">
            <img src="{% static 'products/media/icons/new_logo_black.png' %}" height="30" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% for category in categories%}
                <li class="nav-item">
                    <a class="nav-link name-category" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link name-category" href="#" data-toggle="modal" data-target=".popup1" >
                        <img src="{% static 'products/media/icons/search_icon.png' %}" alt="">
                        <span>Поиск</span>
                    </a>
                </li>
                <li class="nav-item dropdown basket-container">
                {% with total_items=cart|length %}
                    <a class="nav-link name-category dropdown-toggle" id="cart" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <img src="{% static 'products/media/icons/cart_icon.png' %}" alt="">
                        <span>Корзина </span>
                        (<span id="total-in-cart">{{ total_items }}</span>)
                    </a>
                    <div id="basket">
                    <ul class="dropdown-menu basket-items">
                        {% if total_items > 0 %}
                            <div id="content">
                                {% for item in cart %}
                                {% with product=item.product %}
                                <div class="cart-content">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 text-center">
                                            <div class="pro-img">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-md-8">
                                            <div class="pro-text">
                                                <div class="pro-text-desc">
                                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                                    {% if product.discount > 0 %}
                                                        <strong class="price">{{ product.discount }} &#8381</strong>
                                                        <span class="price-old">{{ product.price }} &#8381</span>
                                                    {% else %}
                                                        <strong class="price">{{ product.price }} &#8381</strong>
                                                    {% endif %}
                                                </div>
                                                <div class="pro-text-amount">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <span>Количество: {{ item.quantity }}</span>
                                                        </div>
                                                        <div class="col-sm-4 text-right">
                                                            <a href="{% url 'cart:cart_remove' product.id %}" id="delete-item" data-id="{{ product.id }}">
                                                                 <span class="red">
                                                                    <i class="fa fa-close" style="font-size:18px"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endwith %}
                                {% endfor %}
                            </div>
                            <div class="total-in-basket">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 text-left">Всего:</div>
                                    <div class="col-sm-6 col-md-6 text-right">
                                        <strong>{{ cart.get_total_price }} &#8381</strong>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'cart:cart_detail' %}" class="cart-btn">Посмотреть корзину</a>
                            <a href="{% url 'orders:order_create' %}" class="cart-btn">Оформить заказ</a>
                        {% else %}
                            <div class="empty-basket">В корзине нет товаров</div>
                        {% endif %}
                    </ul>
                    </div>
                {% endwith %}
                </li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item login-mobile">
                        <button type="button" class="log-in" data-toggle="modal" data-target="#exampleModalCenter">Войти</button>
                    </li>
                    <li class="nav-item login-mobile"><a href="{% url 'account:registration_view' %}">Зарегистрироваться</a></li>
                {% else %}
                    <li class="nav-item login-mobile"><a href="{% url 'account:account_data' %}">Личный кабинет</a></li>
                    <li class="nav-item login-mobile"><a href="{% url 'account:logout_view' %}">Выйти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- search-popup -->
<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content search-popup">
            <div class="text-center">
                <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× закрыть</a>
            </div>
            <div class="search-outer">
                <form action="{% url 'search:search_view' %}" method="GET">
                    <div class="row">
                        <div class="col-md-11">
                            <input type="text" placeholder="Поиск товаров..." name="q"/>
                        </div>
                        <div class="col-md-1 text-right">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /search-popup -->
<!-- /.menu -->
<script>
    $(document).on('submit', '#login_form', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url 'account:login_view' %}',
            data: {
                username: $("#id_username").val(),
                password: $("#id_password").val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                if (data.login) {
                    location.reload();
                }
                else {
                    if (data.error == 'nonactive'){
                        var text = 'Данный аккаунт больше не активен';
                    }
                    else {
                        var text = 'Неправильный логин или пароль!';
                    }
                    $('.error').removeClass('d-none');
                    $('.error span').text(text);
                }
            }
        });
    });
    $(document).on('click', '#delete-item', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var url = $(this).attr('href');
            console.log(url);
            $.ajax({
                type: 'GET',
                url: url,
                data: {
                    product_id: id
                },
                success: function (data) {
                    if (data.success) {
                        $('#total-in-cart').text(data.amount);
                        $('#basket').load(' .basket-items');
                    }
                }
            });
        });
</script>