{% extends 'products/_base.html' %}

{% load static %}

{% block description %}
{{ product.description_seo }}
{% endblock %}

{% block keywords %}
{{ product.keywords }}
{% endblock %}

{% block title %}
  {{ product.title }}
{% endblock %}
{% block content %}
    <!-- product detail -->
    <section class="product-detail">
        <div class="product-detail-short-desc-bg">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="{% url 'products:main_page' %}">Главная</a>
                    <span> / </span>
                    <a href="{{ product.category.get_absolute_url  }}">{{ product.category }}</a>
                    <span> / </span>
                    <span>{{ product.name }}</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="pro-d-img">
                            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <h1>{{ product.name }}</h1>
                        <div class="star">
                            <ul id="myTab1">
                                <span class="stars stars{{ product.rating|floatformat:"0" }}"></span>
                                <li><a href="#myTabContent">{{ reviews|length }} отзыв(ов)</a></li>
                                <li><a href="#myTabContent">Добавить отзыв</a></li>
                            </ul>
                        </div>
                        <p class="price-detail">
                            {% if product.discount > 0 %}
                                {{ product.discount }} руб.
                                <span class="price-old">{{ product.price }} руб.</span>
                            {% else %}
                                {{ product.price }} руб.
                            {% endif %}
                        </p>
                        <span>
                        {{ product.short_description | safe}}
                        </span>
                        <div class="change-amount">
                            <form action="{% url "cart:cart_add" product.id %}" method="post" id="add-to-cart" data-id="{{ product.id }}">
                                <div class="numbers-row">
                                    {% csrf_token %}
                                    <span class="dec button">-</span>
                                    {{ cart_product_form.quantity }}
                                    <span class="inc button">+</span>
                                </div>
                                <button type="submit" class="add-to-cart2">В корзину</button>
                            </form>
                        </div>
                        <div class="categories">
                            <span>Категория: </span>
                            <span>{{ product.category.name }}</span>
                        </div>
                        <div class="categories">
                            <span>Производитель: </span>
                            <span>{{ product.brand }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tabs row">
                <div class="col-sm-3 col-md-3 tabs-name">
                    <ul class="nav nav-mytabs flex-column" id="myTab" role="tablist">
                        <li class="nav-item tabs-item">
                            <a class="nav-link tabs-link active text-capitalize" id="descp-tab" data-toggle="tab" href="#descp" role="tab" aria-controls="descp" aria-selected="true">Описание</a>
                        </li>
                        <li class="nav-item tabs-item">
                            <a class="nav-link tabs-link text-capitalize" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false" >Отзывы</a>
                        </li>
                        <li class="nav-item tabs-item">
                            <a class="nav-link tabs-link text-capitalize" id="add-review-tab" data-toggle="tab" href="#add-review" role="tab" aria-controls="add-review" aria-selected="false">Добавить отзыв</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content mytab-content col-sm-9 col-md-9" id="myTabContent">
                    <div class="tab-pane fade show active" id="descp" role="tabpanel" aria-labelledby="descp-tab">
                    {{ product.description | safe}}
                    </div>
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <div class="row">
                            {% if reviews|length > 0 %}
                                <div class="reviews-all">
                                    <div class="reviews-all-common">
                                        <h6>Общий рейтинг: {{ product.rating }}/5</h6>
                                        <span class="stars stars{{ product.rating|floatformat:"0" }}"></span><br>
                                        <span>{{ reviews|length }} отзыв(ов)</span>
                                    </div>
                                    {% for review in reviews %}
                                        <div class="reviews-all-one row">
                                            <div class="col-md-4">
                                                <div>
                                                    <span class="stars stars{{ review.rating }}"></span>
                                                </div>
                                                <div class="reviews-all-one-short-desc">{{ review.short_desc }}</div>
                                                <span>{{ review.created|date:'d b Y' }}</span>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="reviews-all-one-body">{{ review.body }}</div>
                                                <br>
                                                <div class="reviews-all-one-name">{{ review.name }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="col-sm-12 text-center">
                                    <span>У этого товара пока нет отзывов. Если вы заказывали этот товар, поделитесь своим впечатлением о нём, и другие покупатели будут вам благодарны.</span>
                                    <a href="#" id="add-review-btn">Добавить отзыв</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade add-review" id="add-review" role="tabpanel" aria-labelledby="add-review-tab">
                        <form method="post" action="{% url 'products:add_review' product.id %}" class="order-form">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="id_name" class="col-sm-4 col-form-label required">Ваше имя</label>
                                <div class="col-sm-8">
                                    {{ review_form.name }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_phone_number" class="col-sm-4 col-form-label required">Ваш e-mail</label>
                                <div class="col-sm-8">
                                    {{ review_form.email }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_mail" class="col-sm-4 col-form-label required">Общий рейтинг</label>
                                <div class="col-sm-8">
                                    <div class="star-rating">
                                        <div class="star-rating__wrap">
                                            {% for radio in review_form.rating %}
                                                {{ radio.tag }}
                                                <label for="{{ radio.id_for_label }}" class="star-rating__ico fa fa-star"></label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_address" class="col-sm-4 col-form-label required">Ваше мнение о товаре в одном предложение</label>
                                <div class="col-sm-8">
                                    {{ review_form.short_desc }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_comment" class="col-sm-4 col-form-label required">Ваш отзыв</label>
                                <div class="col-sm-8">
                                    {{ review_form.body }}
                                </div>
                            </div>
                            <div class="text-center">Ваш адрес электронной почты не будет виден другим пользователям. Перед публикацией все сообщения проходят модерацию</div>
                            <button type="submit" class="add-to-cart2">Отправить отзыв</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="recommends">
        <div id="popular" class="product-list">
            <div class="container">
                <div class="tittle text-center">
                    <h2>Похожие товары</h2>
                </div>
                <div class="recommends-main">
                    <div class="owl-carousel">
                        {% for product in products %}
                            <div>
                                <div class="item">
                                    <div class="item-wrap">
                                        <a href="{{ product.get_absolute_url }}" class="product_cart">
                                            <div class="pro-text">
                                                <div class="pro-img">
                                                    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}" />
                                                    <div class="sale tage" style="background: rgba(0, 0, 0, 0) url({% static 'products/media/icons/new_icon.png' %}) no-repeat scroll 0 0;">
                                                        <span class="discount-text">NEW</span>
                                                    </div>
                                                </div>
                                                <div class="pro-name">
                                                    <span>{{ product.name }}</span>
                                                </div>
                                                <div>
                                                    <span>{{ product.price }} &#8381</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'products/scripts/vendor.js' %}"></script>
    <script src="{% static 'products/scripts/core.js' %}"></script>
{% endblock %}