{% extends "products/_base.html" %}

{% load static %}

{% block title %}
Healthful Food
{% endblock %}

{% block content %}
    <selection class="selection_products">
        <div class="container">
            <div class="tittle text-center">
                <h2>{{ title }}</h2>
            </div>
            <div class="breadcrumbs text-center">
                <a href="{% url 'products:main_page' %}">Главная</a>
                <span> / </span>
                <span>{{ title }}</span>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-md-3 margin-bot">
                    <a href="{{ product.get_absolute_url }}" class="product_cart">
                        <div class="pro-text">
                            <div class="pro-img">
                                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}" />
                                {% if title == 'Новинки' %}
                                    <div class="sale tage" style="background: rgba(0, 0, 0, 0) url({% static 'products/media/icons/new_icon.png' %}) no-repeat scroll 0 0;">
                                        <span class="discount-text">NEW</span>
                                    </div>
                                {% else %}
                                    <div class="discount tage">
                                        <span class="discount-text">-{{ product.get_discount }}%</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="pro-name">
                                <span>{{ product.name }}</span>
                            </div>
                            <div>
                                {% if title == 'Новинки' %}
                                    <span class="price">{{ product.price }} &#8381</span>
                                {% else %}
                                    <span class="price">{{ product.discount }} &#8381</span>
                                    <span class="price-old">{{ product.price }} &#8381</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    <div class="add-to-cart">
                        <form action="{% url "cart:cart_add" product.id %}" method="post" id="add-to-cart" data-id="{{ product.id }}">
                            {% csrf_token %}
                            {{ cart_product_form.quantity }}
                            <button type="submit" class="add-to-cart2">В корзину</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="container navigation">
                <nav aria-label="Page navigation example">
                    <div class="row">
                        <div class="col-lg-10 amount text-right">Всего товаров: {{ products|length }}</div>
                        <div class="col-lg-2">
                            <ul class="pagination justify-content-end">
                                {% if products.has_previous %}
                                    <li class="page-item"><a href="?page={{ products.previous_page_number }}" class="page-link" tabindex="-1">&laquo;</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                                {% endif %}
                                {% for i in products.paginator.page_range %}
                                    {% if products.number == i %}
                                        <li class="page-item disabled"><a href="#" class="page-link">{{ i }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                    <li class="page-item"><a href="?page={{ products.next_page_number }}" class="page-link">&raquo;</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </selection>
{% endblock %}